<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADTGtTEs9bZfBlbOfEDr5YXLdVWicxfTY</string>
	<key>GCM_SENDER_ID</key>
	<string>477863187191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yourcompany.com.DialysisPlus</string>
	<key>PROJECT_ID</key>
	<string>dialysisplus-54318</string>
	<key>STORAGE_BUCKET</key>
	<string>dialysisplus-54318.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477863187191:ios:f714504576298df224f9f2</string>
</dict>
</plist>